<h2>Login with Email</h2>
<%= form_with url: "/login" do |f| %>
    <%= f.text_field :email, required: true %>
    <br>
    <%= f.password_field :password, required: true %>
    <br>
    <%= f.submit %>
    <% end %>
<h2>or Log in with ???[Google, Facebook, Etc]</h2>