<h2>Welcome, <%= @user.name %></h2>

<p>Today, you have: </p>
<%# @user.workout.start_time.each do |workout|%>
<%# "#{workout.name} at #{workout.time}" %>
<%# appointment.today.each do |appointment| %>
<%# "#{appointment.name} at #{appointment.time}" %>
<%# end %>

